// FiraSans

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../assets/fonts/FiraSans-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

// Futura

@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/FuturaDemiC.eot');
  src: local('FuturaDemiC'), 
       url('../assets/fonts/FuturaDemiC.woff') format('woff'),
       url('../assets/fonts/FuturaDemiC.ttf') format('truetype'),
       url('../assets/fonts/FuturaDemiC.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/FuturaMediumC.eot');
  src: local('FuturaMediumC'), 
       url('../assets/fonts/FuturaMediumC.woff') format('woff'),
       url('../assets/fonts/FuturaMediumC.ttf') format('truetype'),
       url('../assets/fonts/FuturaMediumC.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/FuturaLightC.eot');
  src: local('FuturaLightC'), 
       url('../assets/fonts/FuturaLightC.woff') format('woff'),
       url('../assets/fonts/FuturaLightC.ttf') format('truetype'),
       url('../assets/fonts/FuturaLightC.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

// Futura Futuris

@font-face {
  font-family: 'FuturaFuturis';
  src: url('../assets/fonts/FuturaFuturisLightC.eot');
  src: url('../assets/fonts/FuturaFuturisLightC.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/FuturaFuturisLightC.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

// Ubuntu

@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/UbuntuLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
