.playlists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.playlists__item {
    width: calc(33.3333% - 10px);
    background-color: #fff;
    box-shadow: 5px 5px 5px 0 #e1e1e1;
    margin-bottom: 15px;
}

.playlists__item-header {
    position: relative;
}

.playlists__item-body {
    padding: 15px;
}

.playlists__image {
    display: block;
    width: 100%;
    height: 190px;
}

.playlists__section {
    margin: 0 0 15px 0;
    font-size: 18px;
}

.playlists__title {
    margin: 0;
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 17px;
}

.playlists__text {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
}

.playlists__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-size: 50px;
    i {
        display: none;   
    }
    &:hover {
        background-color: rgba(0,0,0,0.4);
        i {
            display: inline;   
        }
    }
}

.playlists__count {
    font-size: 10px;
}

.playlists__update {
    font-size: 10px;
}

@media only screen and (max-width: 900px) {
    .playlists__item {
        width: 100%;
    }  
}