+b.header
	+e.panel.inner
		+e.logo
			include ../logo/_logo
		+e.contact
			include ../contact/_contact
		+e.social
			include ../social/_social
	+e.navbar
		+b.inner
			include ../navbar/_navbar_top
