+b.subscribe
  +e.image-box
    +e.IMG.image(src="/images/subscribe.png")
  +e.text Подписывайтесь на наш канал и смотрите обзоры новинок нашей компании.
  +e.A.button.button._theme_3d._size_l(href="#") Подписаться
