.ad-panel
    .ad-panel__inner.inner
        .ad-panel__text Выход нового релиза Contabilizare 4.0.112
        .ad-panel__controls
            A.ad-panel__button(href="/news/contabilizare-4-0/vykhod-novogo-reliza-contabilizare-4-0-112/") Подробнее
.ad-panel.ad-panel_second
    .ad-panel__inner.inner
        .ad-panel__text Выход нового релиза Contabilizare 5.0.3
        .ad-panel__controls
            A.ad-panel__button(href="/news/contabilizare-5-0/vykhod-novogo-reliza-contabilizare-5-0-3/") Подробнее