extends ../layout

block content
	+b.section._size_xl._theme_solutions
		+b.grid.inner
			+e.row._align_c
				+e.col_7._m_12
					+b.title_size_xl._color_white УПРАВЛЕНИЕ ПРОДАЖАМИ.</br>CRM-СИСТЕМА
					include ../includes/components/breadcrumbs/_breadcrumbs_theme_dark
				+e.col_5.mobile_hide
					+b.A.link(href="http://www.youtube.com" target="_blank")
						+b.IMG.image.js-image-swap(src= "/images/new_cont/look_video.png" data-src= "/images/new_cont/look_video_hover.png")
	+b.section_size_s._theme_clear
		+b.inner
			+b.title._align_center._size_lg._color_black УПРАВЛЕНИЕ ПРОДАЖАМИ. CRM-СИСТЕМА
			+b.subtitle._align_center Выход за рамки обычных продаж и качественное обслуживание клиентов
			+b.UL.list
				+e.LI.item Управление заказами покупателей 
				+e.LI.item Контроль и управление дебиторской задолженности по договорам и заказам
				+e.LI.item Оперативный контроль и аналитическая отчетность
				+e.LI.item Возможность резервирования товаров под заказ клиента
				+e.LI.item Контроль выполнения заказа покупателяй 
				+e.LI.item Контроль остатков на складах, в том числе с учетом резерва 
				+e.LI.item Гибкое ценообразование, различные условия скидок и акций
				+e.LI.item Фиксирование взаимоотношений с клиентом, этап бизнес-процесса
				+e.LI.item Анализ и динамика продаж по товарам, клиентам и в периоде 
				+e.LI.item Контроль сроков поступления денежных средств 
				+e.LI.item Контроль и планирование рабочего времени менеджера 
				+e.LI.item Анализ объема продаж по менеджеру для стимулирования продаж 
	+b.section_size_s._theme_light
		+b.inner
			+b.title._align_center._size_lg._color_black Функциональные возможности
			+b.accordion.js-accordion
				each item in accordion
					+e.item
						+e.title= item.title
						+e.text= item.text
	include ../includes/sections/_other_erp
	include ../includes/sections/_solutions
	include ../includes/sections/_our_blog