.info__list {
    padding: 0 0 0 40px;
    .info__list {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.info__list_condenced {
    list-style: none;
    padding: 15px 0 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info__list-item {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 400;
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
    }
}

.info__list-item_condenced {
    font-family: $font-family-primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    color: $font-color-black;
    position: relative;
    counter-increment: list;
    width: calc(50% - 15px);
    color: $font-color-black;
    background-color: #fff;
    padding-bottom: 30px;
    &:before {
        position: absolute;
        display: block;
        box-sizing: border-box;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        text-align: right;
        color: rgba(#000000, 0.12);
        font-family: $font-family-primary;
        font-size: 45px;
        content: "#" counter(list);
        z-index: 1;
    }
    &:nth-last-child(1), &:nth-last-child(2) {
        padding-bottom: 0;
    }
}

.info__list-title {
    font-family: $font-family-primary;
    color: $font-color-black;
    font-weight: 400;
    font-size: 26px;
    margin: 0 0 15px;
    padding: 0;
    position: relative;
    z-index: 2;
}

.info__article {
    margin-top: 40px;
    &:first {
        margin-top: 0;
    }
}

.info__title-box {
    margin-bottom: 15px;
}

.info__source {
    margin-top: 30px;
    font-size: 16px;
    font-style: italic;
}

.info__title {
    font-family: $font-family-primary;
    color: $font-color-black;
    font-size: 26px;
    margin: 40px 0 20px;
    font-weight: 500;
    &:first-child {
        margin-top: 0;
    }
}

.info__subtitle {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0 10px; 
}

.info__text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: $font-family-primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    color: $font-color-black;
    position: relative;
    z-index: 2;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.info__text_warning {
    padding: 15px;
    background-color: rgba($color-blue, 0.1);
    border-left: 5px solid $color-blue;
}

.info__link {
    text-decoration: none;
    color: $color-blue;
    &:hover {
        color: $color-light-blue;
    }
}