+b.section_theme_sky
	+b.inner
		+b.heading_theme_dark._align_center._size_l
			+e.H1.title Бизнес процессы
			+e.SPAN.subtitle Узнайте подробнее о взаимодействии с бизнесом при помощи CRM-СИСТЕМЫ
		include ../components/rocket/_rocket