+b.section_theme_blue
	+b.inner
		+b.heading_theme_dark._size_l._align_center
			+e.title Разделы erp-системы
		+b.thumbnails._theme_pazzle
			each item in erp_items
				+e.A.item.image-swap.js-image-swap(data-src= item.img_hover)
					+e.DIV.image-box
						+e.IMG.image(src= item.img)
					+e.DIV.text-box
						+e.text !{item.text}