+b.section_theme_clear
  +b.grid.inner
    +e.row._justify_sb
      +e.col._6
        +b.heading_theme_light
          +e.H2.title <span class="heading__accent">Наши</span> новости
          +e.A.link(href="#") Все новости
        +b.card_size_m._theme_light
          +e.label= news_preview[0].date
          +e.IMG.image_size_m(src= news_preview[0].img)
          +e.A.link_size_m(href= news_preview[0].link)= news_preview[0].text
        +b.grid
          +e.row
            +e.col._6
              +b.card_size_s._theme_light
                +e.label= news_preview[1].date
                +e.IMG.image_size_s(src= news_preview[1].img)
                +e.A.link_size_s(href= news_preview[1].link)= news_preview[1].text
            +e.col._6
              +b.card_size_s._theme_light
                +e.label= news_preview[2].date
                +e.IMG.image_size_s(src= news_preview[2].img)
                +e.A.link_size_s(href= news_preview[2].link)= news_preview[2].text
      +e.col._5
        +b.heading_theme_light
          +e.H2.title <span class="heading__accent">Отзывы</span> наших клиентов
          +e.A.link(href="#") Другие отзывы
        each item in reviews_preview
          +b.reviews
            +e.header
              +e.H3.title= item.title
              +e.author= item.author
            +e.footer
              +e.SPAN.text Смотрите отзыв пройдя по ссылке: 
              +e.A.link(href= item.link)= item.link
