+b.section_theme_dark
    +b.grid.inner
      +b.heading_theme_dark
        +e.H2.title <span class="heading__accent">Блог</span> нашей компании
        +e.A.link_theme_dark(href="#") Все статьи
      +e.row
        +e.col._6
          +b.card._size_l._theme_dark
            +e.label 03.10.2016
            +e.IMG.image_size_l(src="../assets/images/news_1.png")
            +e.A.link_size_l(href="#") Выход нового релиза Contabilizare 4.0. 
        +e.col._6
          +b.grid
            +e.row
              +e.col._6
                +b.card_size_s._theme_dark
                  +e.label= news_preview[1].date
                  +e.IMG.image_size_s(src= news_preview[1].img)
                  +e.A.link_size_s(href= news_preview[1].link)= news_preview[1].text
              +e.col._6
                +b.card_size_s._theme_dark
                  +e.label= news_preview[2].date
                  +e.IMG.image_size_s(src= news_preview[2].img)
                  +e.A.link_size_s(href= news_preview[2].link)= news_preview[2].text
              +e.col._6
                +b.card_size_s._theme_dark
                  +e.label= news_preview[0].date
                  +e.IMG.image_size_s(src= news_preview[0].img)
                  +e.A.link_size_s(href= news_preview[0].link)= news_preview[0].text
              +e.col._6
                +b.card_size_s._theme_dark
                  +e.label= news_preview[1].date
                  +e.IMG.image_size_s(src= news_preview[1].img)
                  +e.A.link_size_s(href= news_preview[1].link)= news_preview[1].text