.news-detail__release {
	position: relative;
	text-align: center;
	background-color: $color-blue;
	font-family: $font-family-primary;
	font-weight: 400;
	color: #fff;
	font-size: 120px;
	padding: 50px;
	margin-bottom: 30px;
}

.news-detail__subtitle {
	font-size: 26px;
	margin-top: 30px;
	margin-bottom: 15px;
	&:nth-child(1) {
		margin-top: 0;
	}
}

.news-detail__list {
	list-style: none;
	padding: 0;
	font-family: $font-family-primary;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #313131;
}

@media only screen and (max-width: 900px) {
		
}