.news-detail {
	font-family: $font-family-primary;
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 44px;
}

.news-detail__release {
	text-align: center;
	background-color: $color-blue;
	font-weight: 400;
	color: #fff;
	font-size: 120px;
	padding: 50px;
	margin-bottom: 30px;
}

.news-detail__subtitle {
	font-size: 20px;
    line-height: 33px;
    font-weight: 500;
    margin: 27px 0 11px;
}

.news-detail__list {
	padding: 0;
    margin: 0 0 27px 27px;
    .news-detail__list {
        margin-top: 11px;
        margin-bottom: 11px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.news-detail__list-item {
    margin-bottom: 11px;
    &:last-child {
        margin-bottom: 0;
    }
}