.contact
  a.contact__phone(href="tel:+037322225488")
    i.fa.fa-phone
  .contact__image-box
    img.contact__image(src='/images/clock.png')
  .contact__title-box
    .contact__title +373 (22) 22-54-88
    .contact__subtitle График: Пн-Пт 9:00-18:00
