extends layouts/auth

block content
    +b.FORM.auth-form
        +e.H1.title Авторизация
        +e.input-group
            +e.LABEL.label(for="username") Логин
            +e.INPUT.input(type="text" name="name" id="username" required)
        +e.input-group
            +e.LABEL.label(for="password") Пароль
            +e.INPUT.input(type="password" name="password" id="password" required)
        +e.BUTTON.submit(type="submit" name="action" value="login") Войти