extends layout

block content
    +b.FORM.auth-form
        +e.H1.title Авторизация
        +e.INPUT.input(type="text" name="name" placeholder="Логин" required)
        +e.INPUT.input(type="password" name="password" placeholder="Пароль" required)
        +e.BUTTON.submit(type="submit" name="action" value="login") Войти
        +e.P.desc * Если у вас еще нет аккаунта, вам необходимо 
            +e.A.link(href="./registration") зарегистрироваться