extends layouts/auth

block content
    +b.FORM.auth-form
        +e.H1.title Регистрация
        +e.input-group
            +e.LABEL.label Тип организации
            +e.radio-group
                +e.INPUT.radio(type="radio" id="individual" name="person_type" value="3" checked)
                +e.LABEL.radio-label.js-change-auth-form(for="individual") Физическое лицо
            +e.radio-group
                +e.INPUT.radio(type="radio" id="juridical_with_tva" name="person_type" value="4")
                +e.LABEL.radio-label.js-change-auth-form(for="juridical_with_tva") Юридичeское лицо (плательщик НДС)
            +e.radio-group
                +e.INPUT.radio(type="radio" id="juridical_without_tva" name="person_type" value="5")
                +e.LABEL.radio-label.js-change-auth-form(for="juridical_without_tva") Юридичeское лицо (не плательщик НДС)
        +e.input-group._hidden(id="title_input_group")
            +e.LABEL.label(for="title") Название организации
            +e.INPUT.input(type="text" name="title" id="title" placeholder="" required)
        +e.input-group(id="name_input_group")
            +e.LABEL.label(for="name") ФИО
            +e.INPUT.input(type="text" name="name" id="name" placeholder="" required)
        +e.input-group
            +e.LABEL.label(for="email") Электронный адрес
            +e.INPUT.input(type="email" name="email" id="email" required)
        +e.input-group
            +e.LABEL.label(for="login") Логин
            +e.SPAN.rules Не менее 3-х символов
            +e.INPUT.input(type="text" name="login" id="login" placeholder="" required)
        +e.input-group
            +e.LABEL.label(for="password") Пароль
            +e.SPAN.rules Не менее 6-ти символов
            +e.INPUT.input(type="password" name="password" id="password" placeholder="" required)
        +e.input-group
            +e.LABEL.label(for="confirm_password") Подтверждение пароля
            +e.INPUT.input(type="password" name="confirm_password" id="confirm_password" placeholder="" required)
        +e.BUTTON.submit(type="submit" name="action" value="login") Зарегистрироваться
        +e.P.desc Нажимая кнопку "Зарегистрироваться", я принимаю условия 
            +e.A.link(href="#") пользовательского соглашения, 
            .
                а так же подтверждаю свое 
            +e.A.link(href="#") согласие на обработку персональных данных.   