extends layout

block content
    +b.FORM.auth-form
        +e.H1.title Регистрация
        +e.select
            +e.selected Физическое лицо
            +b.I.fas.fa-angle-down
            +e.options
                +e.option(value="3") Физическое лицо
                +e.option(value="4") Юридичское лицо
        +e.INPUT.input(type="hidden" name="person_type" value="")
        +e.INPUT.input(type="text" name="name" placeholder="Имя" required)
        +e.INPUT.input(type="text" name="surname" placeholder="Фамилия" required)
        +e.INPUT.input(type="email" name="email" placeholder="Электронный адрес" required)
        +e.INPUT.input(type="text" name="login" placeholder="Логин" required)
        +e.INPUT.input(type="password" name="password" placeholder="Пароль" required)
        +e.BUTTON.submit(type="submit" name="action" value="login") Зарегистрироваться
        +e.P.desc * Если у вас уже есть аккаунт, перейдите на страницу 
            +e.A.link(href="./authorization") авторизации