extends layout

block content
	+b.section._size_xs._theme_about
		+b.inner
			+b.title._size_xl О КОМПАНИИ
			include includes/components/breadcrumbs/_breadcrumbs
	+b.section._no-padding._theme_about
		+b.inner
			+b.about_theme_first
				+e.ARTICLE.article._align_right._align_top.article__._theme_light
					+e.image(src="images/new_cont/about_clock.png")
					+e.title История компании
					+e.text Компания Contabilizare была создана в январе 1997 года. Создателями и идейными вдохновителями компании были братья Решитко Эдуард и Дмитрий. На сегодняшний день компания является одним из ведущих разработчиков учетного программного обеспечения на рынке Молдовы. Как с самого своего рождения, так и по сей день мы позиционируем себя именно как разработчики программного обеспечения.
				+e.ARTICLE.article._align_left._align_bottom.article__._theme_light
					+e.image(src="images/new_cont/about_steps.png")
					+e.title Первые продукты, первые успехи
					+e.text В конце девяностых годов прошлого века рынок учетного программного обеспечения на базе «1С» представлял собой хаотическое предложение российских конфигураций с доработкой и адаптацией под молдавское законодательство. «Удовольствие» это было чрезвычайно дорогое идлительное по времени.
					+e.text В 1998 году мы первые предложили рынку типовое решение для 1С:Бухгалтерия для Молдовы. Это и предопределило бурный рост продаж и соответственно продвижения фирмы. До сих пор львиная доля пользователей 1С:Предприятия 7.7 – это пользователи наших конфигураций в различной интерпретации других фирм.
	+b.section._no-padding._theme_blue
		+b.inner
			+b.about_theme_second
				+e.ARTICLE.article._align_right._align_top.article__._theme_dark
					+e.image(src="images/new_cont/about_commet.png")
					+e.title Головокружение от успехов, упадок.
					+e.text Молодая психика такого бурного роста не перенесла, я как руководитель, возгордился и в результате компания так же быстро просела, как и взлетела. Наш программный продукт молниеносно распространился по всей республике, не две и не три фирмы сделали на нем бизнес, в результате инициатива нами была утеряна.
				+e.ARTICLE.article._align_left._align_bottom.article__._theme_dark
					+e.image(src="images/new_cont/about_cloud.png")
					+e.title А в это время…
					+e.text В Молдове создается целый холдинг фирм, способный оказывать комплексные услуги в различных областях. Кроме, Contabilizare-Prof – разработка, продажа, услуги адаптации и внедрения лицензионного программного обеспечения, Это, Contabilizare–Audit, услуги в сфере аудита, ведения бухгалтерского учета, консультирование по налогообложению. Это, Contabilizare–Com, компьютеры и различная оргтехника, сети и все с ним связанное. Это, Contabilizare-Studiere, авторизированный учебный центр, где можно было пройти курсы не только по программе, но и по программированию.
					+e.text В это время мы открываем филиалы фирмы в г. Москва и Бухарест. Создаем типовую конфигурацию для Румынии, которой аналога в данной ценовой нише нет. Однако и здесь нас ждало фиаско. Деньги закончились раньше, чем мы начали продавать. Но факт остается фактом – до сих пор аналога по совокупности функционал-цена в Румынии даже близко нет.
	+b.section._no-padding._theme_dark
		+b.inner
			+b.about_theme_third
				+e.ARTICLE.article._align_left._align_top.article__._theme_dark
					+e.image(src="images/new_cont/about_lamp.png")
					+e.title Уникальность просто так не потеряешь…
					+e.text Не смотря на все сложности мы создаем новое, комплексное типовое решение для Молдовы на базе платформы 1С: Предприятие 8. Не решение работающее на Платформе 8 (что в реальности просто конвертированная 7.7), а созданное именно инструментарием Платформы 8. Мы были первыми и случилось это в 2005 году. Стоит упомянуть, что аналогов в Молдове нет до сих пор.
				+e.ARTICLE.article._align_right._align_bottom.article__._theme_dark
					+e.image(src="images/new_cont/about_diamond.png")
					+e.title И вновь продолжается бой…
					+e.text На сегодняшний день мы вполне ответственно можем заявить об интернациональности нашего решения Contabilizare. Сегодня на нем работают не только пользователи в Молдове, но и в Румынии. Программа в кратчайшие сроки может быть адаптирована под любое законодательство. 
					+e.text Не смотря на то, что решение было создано 10 лет назад, его уникальность и преимущественность не вызывает сомнений. Тем не менее, мы готовимся в совсем недалеком будущем, выпустить следующее поколение решений, которое молдавский рынок опередит минимум лет на 7-10. 
					+e.text Нет аналогов в Молдове нашему решение Time Accounting. Смотрите на www.mytime.md 
					+e.text Мы единственные, кто предлагает цивилизованные облачные учетные решения в Молдове. Сегодня реально воспользоваться облаком на www.clouds.md на достаточно высоком профессиональном и организационном уровне.
					+e.text И самая главная наша ценность и успех – это Люди. На сегодняшний день мы обладаем высококлассными специалистами, которые способны решать бизнес задачи самого высокого уровня сложности.