extends layout

block content
	include sections/_in_clouds
	include sections/_contabilizare_5
	include sections/_business_process
	include sections/_news_reviews
	include sections/_contabilizare_on_youtube
	include sections/_our_blog          
            
