extends layout

block content
	include includes/sections/_in_clouds
	include includes/sections/_contabilizare_5
	include includes/sections/_business_process
	include includes/sections/_news_reviews
	include includes/sections/_contabilizare_on_youtube
	include includes/sections/_our_blog          
            
