extends layout

block content
    +b.section._size_xs
        +b.inner
            +b.title._size_xl Разработчикам
            +b.info
                +e.H3.title Почему с Contabilizare 5.0 выгодно работать?
                +e.OL.list
                    +e.LI.list-item 
                        +e.H5.subtitle Простота 
                        +e.P.text Решение написано для Молдовы, с нуля, без чрезмерной сложности.
                    +e.LI.list-item 
                        +e.H5.subtitle Скорость 
                        +e.P.text Размер конфигурационного файла около 8мб. Размер имеет значение, и в данном случае, чем меньше, тем в разы лучше:
                        +e.UL.sublist
                            +e.LI.sublist-item Быстрее разрабатывать
                            +e.LI.sublist-item Быстрее тестировать    
                            +e.LI.sublist-item Быстрее проводить сравнение/объединение/выгрузки/загрузки    
                            +e.LI.sublist-item Быстрее копировать и передавать по интернету
                    +e.LI.list-item 
                        +e.H5.subtitle Интернационализация
                        +e.P.text Интерфейс решения на двух языках: Румынском и Русском. Все строки/сообщения вынесены в отдельный модуль.
                    +e.LI.list-item 
                        +e.H5.subtitle Кодирование
                        +e.P.text Вы не увидите в конфигурации таких модулей и переменных. Решение написано на английском, с учетом контекста и выработанных соглашений. Решение написано по принципам экстремального программирования, все функции маленькие, имена простые, универсализация продумана с учетом сохранения разумного баланса между тем что нужно, и тем, что быть может будет нужно.
                    +e.LI.list-item 
                        +e.H5.subtitle Качество
                        +e.P.text Большая часть разработки покрыта сценарными тестами. Сценарные тесты - не секрет фирмы, и предоставляются зарегистрированным пользователям бесплатно. Наши сценарные тесты - это не тесты на 2+2=4, это наборы полноценных сценариев в количестве около 1000 штук. Все тесты разработаны при помощи бесплатного инструмента тестирования Тестер, с бесплатной поддержкой и потрясающей документацией в объеме 160 страниц.  
                    +e.LI.list-item 
                        +e.H5.subtitle Документация
                        +e.P.text Конфигурация имеет встроенную онлайн справку, которая постоянно дополняется, и не вшита статично в метаданные.
                +e.H3.title Резюмируя
                +e.P.text Работая с Contabilizare 5.0, вы получаете элегантное решение, с которым легко работать, которое постоянно документируется, и имеет почти полное покрытие сценарными тестами.
                +e.A.button(href="#") Зарегистрироваться партнером    
