include includes/bemto/bemto
include includes/data/_menu
include includes/data/_menu_solutions
include includes/data/_menu_erp
include includes/data/_accordion
include includes/data/_erp
include includes/data/_blogs
include includes/data/_news
include includes/data/_reviews
include includes/data/_solutions
include includes/data/_thumbnails_clouds
include includes/data/_thumbnails_cont
include includes/data/_thumbnails_process
include includes/data/_news_category
include includes/data/_price_list
include includes/data/_price_category

doctype html
html
	head
		meta(charset="utf-8")
		meta(content="width=device-width, initial-scale=1.0" name="viewport")
		link(href="/stylesheets/style.css" rel="stylesheet")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
		title Contabilizare
	body
		include includes/patrials/header/_header
		MAIN.content
			block content
		include includes/patrials/footer/_footer
		script(src="https://www.youtube.com/iframe_api")
		script(src="/javascripts/youtube.js")
		script(src="/javascripts/snap.svg-min.js")
		script(src="/javascripts/puzzle.min.js")
		script(src="/javascripts/dropdown.js")
		script(src="/javascripts/accordion.js")
		script(src="/javascripts/image-swap.js")
		script(src="/javascripts/feedback.js")
		script(src="/javascripts/modal.js")