extends layout

block content
	+b.section._size_xs
		+b.inner
			+b.title._size_xl Новости
	+b.section._no-padding
		+b.grid.inner
			+e.row._justify_sb
				+e.col._8._m_12
					+b.H2.title._size_md Выход нового релиза Contabilizare 4.0.100
					+b.news-detail
						+e.date 03.10.2016
						+e.content
							+e.IMG.image(src="/images/new_cont/news_3.png") 
							+e.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio saepe modi est corrupti laborum, voluptate numquam ratione! Sed rem dolorem, dolor eligendi eius quas nobis pariatur temporibus assumenda, quaerat qui, quod blanditiis, neque ipsum perspiciatis modi deleniti nostrum iusto ex nulla magni at. Sequi provident culpa sed assumenda beatae! Laborum omnis est, delectus odit. Molestiae vero praesentium, consectetur labore autem, rerum, ad laudantium aperiam a, eum voluptatem! Ad asperiores aliquid amet eaque, consequatur consequuntur maiores quo aut? Distinctio iusto quam labore itaque ducimus maiores voluptatem libero sequi quae, dolor voluptatum iure exercitationem ipsum temporibus est id ratione sed nam assumenda laboriosam. Odio inventore, itaque, vero cum hic maiores praesentium totam eligendi, vel modi laboriosam saepe quidem velit accusantium ullam pariatur rem qui officiis tenetur veniam? Praesentium dignissimos, voluptatibus fugiat dolor vel, magni nobis alias. Dolore in, quidem numquam enim, quas laboriosam culpa maiores tempore totam repudiandae nobis laudantium soluta, dolores asperiores facere perferendis pariatur eum aut magni?
							+e.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quo adipisci veniam iusto commodi. Explicabo, illum, alias! Quis eaque architecto impedit a incidunt quos modi voluptatem, sed, aperiam excepturi et dolores cum mollitia animi nobis adipisci voluptatibus at, unde eos itaque deserunt. Facere, velit! Deleniti repellendus, soluta suscipit hic ipsa laborum adipisci tempora corporis maxime. Aspernatur soluta eligendi, quis ipsa dolorem animi, neque. Id natus delectus ratione earum quisquam neque animi culpa eveniet accusamus, corrupti laborum aspernatur labore repellat et minus, impedit obcaecati! Ratione quisquam id provident commodi libero omnis maiores. Magnam qui, vero cumque porro ducimus ea, deserunt praesentium rem laudantium architecto soluta odio numquam dolorem? Modi recusandae aut atque sit reprehenderit blanditiis magnam officiis minus quas perferendis suscipit a nam, architecto corporis. Tenetur cupiditate in molestiae et ea dolore provident, expedita ut, debitis, aperiam itaque molestias atque, officiis fuga. Ipsa rerum repudiandae consequuntur vel id modi nihil, eos dolorem aperiam velit, asperiores at nemo ipsum, ab? Dignissimos officia, illum, perferendis suscipit quis architecto deserunt ipsa hic quidem rem consequuntur temporibus porro reiciendis.
				+e.col._4.mobile_hide
					+b.H2.title._size_md Категории статей
					+b.news-category
						each item in news_category
							+e.item
								+e.A.link(href= item.link) #[+e.angle &#x25B8;] !{item.text}
								+e.count= item.count