extends layout

block content
	+b.section._size_s
		+b.inner
			+b.title._size_xl Новости
			include includes/components/breadcrumbs/_breadcrumbs
	+b.section._no-padding
		+b.grid.inner
			+e.row._justify_sb
				+e.col._8
					+b.H2.title._size_md Управление финансами
				+e.col._4
					+b.H2.title._size_md Категории статей