extends layout

block content
    +b.section._size_xs
        +b.inner
            +b.title Общие настройки. Ввод остатков.
            +b.breadcrumbs.mobile.mobile_hide
                +e.A.link.link(href="/") Главная
                +e.SPAN.separator
                +e.A.link.link(href="/video/") Видео
                +e.SPAN.separator
                +e.A.link.link(href="/video/buh-uchet/") 1С Бухгалтерский учет
                +e.SPAN.separator
                +e.A.link.link.link_disable(href="/video/buh-uchet/common-settings") Общие настройки. Ввод остатков.
    +b.section._no-padding
        +b.inner
            +b.playlists
                +e.item
                    +e.item-header
                        +e.IMG.image(src="/images/Screenshot_2.png")
                        +e.A.link(href="/video/buh-uchet/common-settings/")
                            +b.I.fas.fa-play
                    +e.item-body
                        +e.H4.section Урок 2.1.1 
                        +e.H4.title Создание нового пользователя
                        +e.P.text Правильная организация структуры пользователей программы 1С 8
                +e.item
                    +e.item-header
                        +e.IMG.image(src="/images/Screenshot_3.png")
                        +e.A.link(href="/video/buh-uchet/common-settings/")
                            +b.I.fas.fa-play
                    +e.item-body
                        +e.H4.section Урок 2.1.2
                        +e.H4.title Данные по организации
                        +e.P.text Правильно и вовремя заполненная в 1С информация о компании исключает ошибки в будущем.
                +e.item
                    +e.item-header
                        +e.IMG.image(src="/images/Screenshot_4.png")
                        +e.A.link(href="/video/buh-uchet/common-settings/")
                            +b.I.fas.fa-play
                    +e.item-body
                        +e.H4.section Урок 2.1.3
                        +e.H4.title Константы
                        +e.P.text Важность и нужность своевременного и правильного заполнения констант в программе 1С.
                +e.item
                    +e.item-header
                        +e.IMG.image(src="/images/Screenshot_5.png")
                        +e.A.link(href="/video/buh-uchet/common-settings/")
                            +b.I.fas.fa-play
                    +e.item-body
                        +e.H4.section Урок 2.1.4
                        +e.H4.title Данные по умолчанию для пользователя
                        +e.P.text Правильное заполнение в 1С данных по умолчанию исключает часть рутинной работы и экономит время.
                +e.item
                    +e.item-header
                        +e.IMG.image(src="/images/Screenshot_5.png")
                        +e.A.link(href="/video/buh-uchet/common-settings/")
                            +b.I.fas.fa-play
                    +e.item-body
                        +e.H4.section Урок 2.1.5
                        +e.H4.title Настройка прав доступа
                        +e.P.text Настройка в 1С прав доступа к той или иной информации, одна из важных частей работы. Закрытие периода.
                +e.item
                    +e.item-header
                        +e.IMG.image(src="/images/Screenshot_5.png")
                        +e.A.link(href="/video/buh-uchet/common-settings/")
                            +b.I.fas.fa-play
                    +e.item-body
                        +e.H4.section Урок 2.1.6
                        +e.H4.title Сервисные настройки
                        +e.P.text Сервисные настройки сделают работу в 1С приятной и удобной, а также сэкономят Ваше время.