extends layout

block content
    +b.section._size_xs
        +b.inner
            +b.title Создание нового пользователя
            +b.breadcrumbs.mobile.mobile_hide
                +e.A.link.link(href="/") Главная
                +e.SPAN.separator
                +e.A.link.link(href="/video/") Видео
                +e.SPAN.separator
                +e.A.link.link(href="/video/buh-uchet/") 1С Бухгалтерский учет
                +e.SPAN.separator
                +e.A.link.link(href="/video/buh-uchet/common-settings") Общие настройки. Ввод остатков.
                +e.SPAN.separator
                +e.A.link.link.link_disable(href="/video/buh-uchet/common-settings/1") Создание нового пользователя
    +b.section._no-padding
        +b.inner
            +b.video-detail
                +e.header
                +e.body
                    +b.IFRAME(src="https://www.youtube.com/embed/4WYoinC8lNI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;")
                +e.footer
                    +e.H4.title Урок 2.1.1. Создание нового пользователя
                    +e.P.text Правильная организация структуры пользователей программы 1С 8
                    +e.controls
                        +e.A.control._prev(href="/video/buh-uchet/common-settings/1") Предыдущее видео 
                        +e.A.control._next(href="/video/buh-uchet/common-settings/1") Следующее видео
