+b.section_theme_sky
	+b.container.inner
		+e.header
			+b.H1.title._align_center._size_lg._color_white Бизнес процессы
			+b.SPAN.subtitle._align_center._color_white Узнайте подробнее о взаимодействии с бизнесом при помощи CRM-СИСТЕМЫ
		+e.body
			include ../components/rocket/_rocket