.section.section_theme_dark.callback(id="callback")
    .inner
        h2.callback__title.title Остались вопросы?
        h3.callback__subtitle Оставьте свой номер телефона и мы вам перезвоним
        form.callback__form
            input.callback__input(placeholder="Имя")
            input.callback__input(placeholder="Телефон")
            button.callback__submit(type="submit") Отправить