+b.section_theme_erp
	+e.inner.inner
		+b.puzzle
			+e.item.js-puzzle-item
				+e.inner
					+e.text-box
						+e.text Управление<br>активами
						+e.A.link(href="/erp/asset_management") Подробнее &rsaquo;
				+e.separator
					+e.line_left
					+e.line_top
					+e.line_right
					+e.connect
			+e.item.js-puzzle-item
				+e.inner
					+e.text-box
						+e.text Управление<br>активами
						+e.A.link(href="/erp/asset_management") Подробнее &rsaquo;
				+e.separator
					+e.line_left
					+e.line_top
					+e.line_right
					+e.connect
			+e.item.js-puzzle-item
				+e.inner
					+e.text-box
						+e.text Управление<br>активами
						+e.A.link(href="/erp/asset_management") Подробнее &rsaquo;
				+e.separator
					+e.line_left
					+e.line_top
					+e.line_right
					+e.connect
			+e.item.js-puzzle-item
				+e.inner
					+e.text-box
						+e.text Управление<br>активами
						+e.A.link(href="/erp/asset_management") Подробнее &rsaquo;
				+e.separator
					+e.line_left
					+e.line_top
					+e.line_right
					+e.connect
			+e.item.js-puzzle-item
				+e.inner
					+e.text-box
						+e.text Управление<br>активами
						+e.A.link(href="/erp/asset_management") Подробнее &rsaquo;
				+e.separator
					+e.line_left
					+e.line_top
					+e.line_right
					+e.connect
			+e.item.js-puzzle-item
				+e.inner
					+e.text-box
						+e.text Управление<br>активами
						+e.A.link(href="/erp/asset_management") Подробнее &rsaquo;
				+e.separator
					+e.line_left
					+e.line_top
					+e.line_right
					+e.connect
			+e.circle
				+e.choice Выберите раздел
				+e.title ERP
				+e.subtitle Системы
				+e.link_big Подробнее &rsaquo;