+b.section_theme_erp
	+e.inner.inner
		+b.puzzle
			+e.item
				+e.inner
					+e.content
						+e.text Управление<br>финансами
						+e.A.link(href="/erp/asset_management") Подробнее &rsaquo;
				+e.border
					+e.line_left
					+e.line_top
					+e.line_right
					+e.connect
			+e.item
				+e.inner
					+e.content
						+e.text Учет<br>производства
						+e.A.link(href="/erp/asset_management") Подробнее &rsaquo;
				+e.border
					+e.line_left
					+e.line_top
					+e.line_right
					+e.connect
			+e.item
				+e.inner
					+e.content
						+e.text Продажи.<br>Розничные<br>продажи
						+e.A.link(href="/erp/asset_management") Подробнее &rsaquo;
				+e.border
					+e.line_left
					+e.line_top
					+e.line_right
					+e.connect
			+e.item
				+e.inner
					+e.content
						+e.text Управленческий<br>учет
						+e.A.link(href="/erp/asset_management") Подробнее &rsaquo;
				+e.border
					+e.line_left
					+e.line_top
					+e.line_right
					+e.connect
			+e.item
				+e.inner
					+e.content
						+e.text Интернет<br>торговля
						+e.A.link(href="/erp/asset_management") Подробнее &rsaquo;
				+e.border
					+e.line_left
					+e.line_top
					+e.line_right
					+e.connect
			+e.item
				+e.inner
					+e.content
						+e.text Управление<br>активами
						+e.A.link(href="/erp/asset_management") Подробнее &rsaquo;
				+e.border
					+e.line_left
					+e.line_top
					+e.line_right
					+e.connect
			+e.circle
				+e.circle-content
					+e.choice Выберите раздел
					+e.title ERP
					+e.subtitle Системы
					+e.link_big Подробнее &rsaquo;
				+e.circle-connect-box_white
					+e.circle-connect
					+e.circle-connect
					+e.circle-connect
					+e.circle-connect
					+e.circle-connect
					+e.circle-connect
				+e.circle-connect-box_black
					+e.circle-connect
					+e.circle-connect
					+e.circle-connect
					+e.circle-connect
					+e.circle-connect
					+e.circle-connect