+b.section_theme_erp
	+e.inner.inner
		+b.puzzle
			+e.item_top.js-puzzle-item
				+e.inner
					+e.text Управление<br>финансами
					+e.A.link Подробнее &rsaquo;
			+e.separator_top_right.js-puzzle-seporator
				+e.line_left.js-puzzle-line
				+e.line_right.js-puzzle-line
				+e.connect.js-puzzle-connect
			+e.item_top_right.js-puzzle-item
				+e.inner
					+e.text Учет<br>производства
					+e.A.link Подробнее &rsaquo;
			+e.separator_right.js-puzzle-seporator
				+e.line_left.js-puzzle-line
				+e.line_right.js-puzzle-line
				+e.connect.js-puzzle-connect
			+e.item_bottom_right.js-puzzle-item
				+e.inner
					+e.text Продажи.<br>Розничные<br>продажи
					+e.A.link Подробнее &rsaquo;
			+e.separator_bottom_right.js-puzzle-seporator
				+e.line_left.js-puzzle-line
				+e.line_right.js-puzzle-line
				+e.connect.js-puzzle-connect
			+e.item_bottom.js-puzzle-item
				+e.inner
					+e.text Управленческий<br>учет
					+e.A.link Подробнее &rsaquo;
			+e.separator_bottom_left.js-puzzle-seporator
				+e.line_left.js-puzzle-line
				+e.line_right.js-puzzle-line
				+e.connect.js-puzzle-connect
			+e.item_bottom_left.js-puzzle-item
				+e.inner
					+e.text Интернет<br>торговля
					+e.A.link Подробнее &rsaquo;
			+e.separator_left.js-puzzle-seporator
				+e.line_left.js-puzzle-line
				+e.line_right.js-puzzle-line
				+e.connect.js-puzzle-connect
			+e.item_top_left.js-puzzle-item
				+e.inner
					+e.text Управление<br>активами
					+e.A.link Подробнее &rsaquo;
			+e.separator_top_left.js-puzzle-seporator
				+e.line_left.js-puzzle-line
				+e.line_right.js-puzzle-line
				+e.connect.js-puzzle-connect
			+e.circle
				+e.choice Выберите раздел
				+e.title ERP
				+e.subtitle Системы
				+e.link_big Подробнее &rsaquo;
