+b.section_theme_erp
	+e.inner.inner
		+b.puzzle
			+e.item_top
			+e.separator_top_right
				+e.line_left
				+e.line_right
				+e.circle_empty
			+e.item_top_right
			+e.separator_right
				+e.line_left
				+e.line_right
				+e.circle_empty
			+e.item_bottom_right
			+e.separator_bottom_right
				+e.line_left
				+e.line_right
				+e.circle_empty
			+e.item_bottom
			+e.separator_bottom_left
				+e.line_left
				+e.line_right
				+e.circle_empty
			+e.item_bottom_left
			+e.separator_left
				+e.line_left
				+e.line_right
				+e.circle_empty
			+e.item_top_left
			+e.separator_top_left
				+e.line_left
				+e.line_right
				+e.circle_empty
			+e.item_center
