+b.section_theme_clouds.mobile._hide
    +b.container.inner
      +e.header._flex
        +b.IMG.image_mr(src='images/1c.png')
        +b.title._size_lg В облаке
      +e.body
        +b.thumbnails
          each item in thumbnails_clouds
            +e.item
              +e.image-box
                +e.IMG.image(src=item.img)
              if item.video
                +e.A.button.button._theme_flat._size_l.js-video-open(href="#" data-target=item.video)= item.text
              else
                +e.A.button.button._theme_flat._size_l(href="#")= item.text