+b.section_theme_about.mobile._hide
  +b.grid.inner
    +e.row._justify_sb
      +e.col._6
        +b.container
          +e.header
            +b.H2.title._weight_light Contabilizare 4.0
            +e.A.link._color_black(href="#") Все релизы
          +e.body
            +b.card
              +e.H4.title= news[0].title
              +e.P.text= news[0].text
              +e.A.link(href= news[0].link) Читать далее...
            +b.card
              +e.H4.title= news[1].title
              +e.P.text= news[0].text
              +e.A.link(href= news[1].link) Читать далее...
            +b.card
              +e.H4.title= news[2].title
              +e.P.text= news[0].text
              +e.A.link(href= news[2].link) Читать далее...
      +e.col._5
        +b.container
          +e.header
            +b.H2.title._weight_light <span class="title__accent">Contabilizare 5.0</span>
            +e.A.link._color_black(href="#") Все релизы
          +e.body
            +b.card
              +e.H4.title= news[0].title
              +e.P.text= news[0].text
              +e.A.link(href= news[0].link) Читать далее...
            +b.card
              +e.H4.title= news[1].title
              +e.P.text= news[0].text
              +e.A.link(href= news[1].link) Читать далее...
            +b.card
              +e.H4.title= news[2].title
              +e.P.text= news[0].text
              +e.A.link(href= news[2].link) Читать далее...
