+b.section_theme_blue.mobile_hide
	+b.inner
		+b.title._align_center._size_lg._color_white Другие разделы ERP-системы
		+b.thumbnails._theme_pazzle
			each item in erp
				+e.A.item.js-image-swap(data-src= item.img_hover)
					+e.DIV.image-box
						+e.IMG.image.js-image-swap-target(src= item.img)
					+e.DIV.text-box
						+e.text !{item.text}