+b.section_theme_dark
  +b.container.inner
    +e.header
      +b.H2.title._color_white._weight_light <span class="title__accent">Блог</span> нашей компании
      +e.A.link._color_white(href="#") Все статьи
    +e.body
      +b.grid
        +e.row
          +e.col._6
            +b.card._size_l._theme_dark
              +e.label= news[0].date
              +e.IMG.image_size_l(src= news[0].img)
              +e.A.link_size_l(href="#")= news[0].text
          +e.col._6
            +b.grid
              +e.row
                +e.col._6
                  +b.card_size_s._theme_dark
                    +e.label= news[1].date
                    +e.IMG.image_size_s(src= news[1].img)
                    +e.A.link_size_s(href= news[1].link)= news[1].text
                +e.col._6
                  +b.card_size_s._theme_dark
                    +e.label= news[2].date
                    +e.IMG.image_size_s(src= news[2].img)
                    +e.A.link_size_s(href= news[2].link)= news[2].text
                +e.col._6
                  +b.card_size_s._theme_dark
                    +e.label= news[0].date
                    +e.IMG.image_size_s(src= news[0].img)
                    +e.A.link_size_s(href= news[0].link)= news[0].text
                +e.col._6
                  +b.card_size_s._theme_dark
                    +e.label= news[1].date
                    +e.IMG.image_size_s(src= news[1].img)
                    +e.A.link_size_s(href= news[1].link)= news[1].text