+b.section.mobile_hide
	+b.inner
		+b.title._align_center._size_lg Contabilizare 4.0
		+b.subtitle._align_center Отраслевые решения
		+b.thumbnails_theme_solutions
			each item in solutions
				+e.A.item.js-image-swap(data-src= item.img_hover href= 'solutions.html')
					+e.DIV.image-box
						+e.IMG.image.js-image-swap-target(src= item.img)
					+e.DIV.text-box
						if item.text
							+e.text= item.text
						+e.text_accent= item.accent