.auth {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding: 15px 0;
}

.auth__link {
    display: block;
    padding: 10px 20px;
    border: 1px solid $color-blue;
    margin-left: 5px;
    border-radius: 5px;
    color: $color-blue;
    text-decoration: none;
    &:hover {
        color: $color-light-blue;
        border: 1px solid $color-light-blue;
    }
}

.auth__link_auth {

}

.auth__link_reg {
    color: #fff;
    background-color: $color-blue;
    &:hover {
        color: #fff;
        background-color: $color-light-blue;
        border: 1px solid $color-light-blue;
    } 
}