-
	var erp = [
	{
		'text': 'Управление<br>финансами',
		'img_hover': '/images/new_cont/erp_hover.png',
		'img': '/images/new_cont/erp.png'
	},
	{
		'text': 'Учет<br>производства',
		'img_hover': '/images/new_cont/erp_hover.png',
		'img': '/images/new_cont/erp.png'
	},
	{
		'text': 'Продажи.<br>Розничные<br>продажи',
		'img_hover': '/images/new_cont/erp_hover.png',
		'img': '/images/new_cont/erp.png'
	},
	{
		'text': 'Управленческий<br>учет',
		'img_hover': '/images/new_cont/erp_hover.png',
		'img': '/images/new_cont/erp.png'
	},
	{
		'text': 'Интернет<br>торговля',
		'img_hover': '/images/new_cont/erp_hover.png',
		'img': '/images/new_cont/erp.png'
	},
	{
		'text': 'Управление<br>активами',
		'img_hover': '/images/new_cont/erp_hover.png',
		'img': '/images/new_cont/erp.png'
	}]