include _menu_solutions

-
	var menu = [
		{
			'link': '/',
			'title': 'Главная'
		},
		{
			'link': '/about',
			'title': 'О компании'
		},
		{
			'link': '/solutions',
			'title': 'Решения',
			'subitems': menu_solutions
		},
		{
			'link': '/news',
			'title': 'Новости'
		},
		{
			'link': '/interviews',
			'title': 'Интервью'
		},
		{
			'link': '/reviews',
			'title': 'Отзывы'
		},
		{
			'link': '/contacts',
			'title': 'Контакты'
		},
		{
			'link': '/price_list',
			'title': 'Прайс-лист'
		},
		{
			'link': 'http://www.clous.md',
			'title': 'Аренда 1С'
		}];