-
	var menu_erp = [
	{
		'link': '/erp/financial_management',
		'title': 'Управление финансами'
	},
	{
		'link': '/erp/production_accounting',
		'title': 'Учет производства'
	},
	{
		'link': '/erp/sales',
		'title': 'Продажи. Розничные продажи.'
	},
	{
		'link': '/erp/management_accounting',
		'title': 'Управленческий учет'
	},
	{
		'link': '/erp/online_trade',
		'title': 'Интернет торговля'
	},
	{
		'link': '/erp/asset_management',
		'title': 'Управление активами'
	}];