-
	var menu_solutions = [
	{
		'link': '/solutions/construction_company_management',
		'title': 'Управление строительным предприятием'
	},
	{
		'link': '/solutions/agricultural_company_management',
		'title': 'Управление сельхоз. предприятием'
	},
	{
		'link': '/solutions/retail_company_management',
		'title': 'Розница'
	},
	{
		'link': '/solutions/water_company_management',
		'title': 'Водоканал'
	},
	{
		'link': '/solutions/corporate_university',
		'title': 'Корпоративный университет'
	}]