-
  var news = [
  {
    'date': '03.10.2016',
    'img': '/images/news_1.png',
    'link': '#',
    'text': 'Выход нового релиза Contabilizare 4.0.100'
  },
  {
    'date': '03.10.2016',
    'img': '/images/news_2.png',
    'link': '#',
    'text': 'Стагнация неизбежна. CRM принимает бой'
  },
  {
    'date': '03.10.2016',
    'img': '/images/news_3.png',
    'link': '#',
    'text': 'Собираем данный в CRM: стероиды для компании'
  }]
