-
  var news = [
  {
    'date': '03.10.2016',
    'img': '/images/news_1.png',
    'link': 'news/123/123',
    'title': 'Выход нового релиза Contabilizare 4.0.100',
    'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatem aut id vel porro ut aliquid laboriosam facilis, rerum accusamus voluptatum qui eos cumque, necessitatibus officiis impedit, voluptates labore obcaecati!"
  },
  {
    'date': '03.10.2016',
    'img': '/images/news_2.png',
    'link': 'news/123/123',
    'title': 'Стагнация неизбежна. CRM принимает бой',
    'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatem aut id vel porro ut aliquid laboriosam facilis, rerum accusamus voluptatum qui eos cumque, necessitatibus officiis impedit, voluptates labore obcaecati!"
  },
  {
    'date': '03.10.2016',
    'img': '/images/news_3.png',
    'link': 'news/123/123',
    'title': 'Собираем данный в CRM: стероиды для компании',
    'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatem aut id vel porro ut aliquid laboriosam facilis, rerum accusamus voluptatum qui eos cumque, necessitatibus officiis impedit, voluptates labore obcaecati!"
  }]
