- 
	var news_category = [
	{
		link: '#',
		text: 'Наши новости',
		count: 23
	},
	{
		link: '#',
		text: 'Все новости',
		count: 58
	},
	{
		link: '#',
		text: 'Управление финансами',
		count: 174
	},
	{
		link: '#',
		text: 'Учет производства',
		count: 62
	},
	{
		link: '#',
		text: 'Продажи. Розничные продажи',
		count: 855
	},
	{
		link: '#',
		text: 'Управленческий учет',
		count: 153
	},
	{
		link: '#',
		text: 'Интернет торговля',
		count: 112
	},
	{
		link: '#',
		text: 'Управление активами',
		count: 25
	}];