-
	var price_list = [
	{
		caption: "Программные продукты на платформе 1С: Предприятие 8",
		headers: ["№", "Наименование", "Программный ключ", "USB-ключ", "Аренда 1С (месяц)"],
		rows: [
			{
				name: "<b>Contabilizare 4.0 ERP-система:</b>- Бухгалтерский учёт<br>- Налоговый учет<br>- Финансовый учет<br>- Управленческий учет<br>- Учет продаж<br>- Розничные продажи<br>- Учет материалов и запасов<br>- Управление активами<br>- Учет заработной платы<br>- Управление производством",
				prices: ["6 000.00", "7 890.00", "290.00"]
			},
			{
				name: "Учет рабочего времени (Time Accounting)",
				prices: ["6 000.00", "7 890.00", "290.00"]
			},
			{
				name: "1С: Предприятие 8. Бухгалтерия для Молдовы",
				prices: ["6 000.00", "7 890.00", "290.00"]
			},
			{
				name: "1С: Предприятие 8. Управление компанией для Молдовы",
				prices: ["6 000.00", "7 890.00", "290.00"]
			}
		]
	},
	{
		caption: "Отраслевые решения Contabilizare 4.0 ( на базе 1С: Предприятие 8 )",
		headers: ["№", "Наименование", "Программный ключ", "USB-ключ", "Аренда 1С (месяц)"],
		rows: [
			{
				name: "Contabilizare 4.0 Управление строительным предприятием",
				prices: ["6 000.00", "7 890.00", "290.00"]
			},
			{
				name: "Contabilizare 4.0 Бухгалтерский учет сельхоз предприятия",
				prices: ["6 000.00", "7 890.00", "290.00"]
			},
			{
				name: "Contabilizare 4.0 Управление сельхоз предприятием (растениеводство  + животноводство) ",
				prices: ["6 000.00", "7 890.00", "290.00"]
			},
			{
				name: "Contabilizare 4.0 Логистика. Управление складом + Автотранспорт + Терминал сбора данных",
				prices: ["6 000.00", "7 890.00", "290.00"]
			},
			{
				name: "Contabilizare 4.0 НКО (для некоммерческих организаций)",
				prices: ["6 000.00", "7 890.00", "290.00"]
			},
			{
				name: "Contabilizare 4.0 Водоканал",
				prices: ["6 000.00", "7 890.00", "290.00"]
			},
			{
				name: "Contabilizare 4.0 Ломбард",
				prices: ["6 000.00", "7 890.00", "290.00"]
			}
		]
	},
	{
		caption: "Специализированные решения 1С: Предприятие 8",
		headers: ["№", "Наименование", "Программный ключ", "USB-ключ", "Аренда 1С (месяц)"],
		rows: [
			{
				name: "1C: Документооборот 8. ПРОФ",
				prices: ["6 000.00", "7 890.00", "290.00"]
			},
			{
				name: "Contabilizare 4.0 Бухгалтерский учет сельхоз предприятия ",
				prices: ["6 000.00", "7 890.00", "290.00"]
			},
			{
				name: "Contabilizare 4.0 Управление сельхоз предприятием (растениеводство  + животноводство)",
				prices: ["6 000.00", "7 890.00", "290.00"]
			},
			{
				name: "Contabilizare 4.0 Логистика. Управление складом + Автотранспорт + Терминал сбора данных",
				prices: ["6 000.00", "7 890.00", "290.00"]
			},
			{
				name: "Contabilizare 4.0 НКО (для некоммерческих организаций)",
				prices: ["6 000.00", "7 890.00", "290.00"]
			},
			{
				name: "Contabilizare 4.0 Водоканал",
				prices: ["6 000.00", "7 890.00", "290.00"]
			},
			{
				name: "Contabilizare 4.0 Ломбард",
				prices: ["6 000.00", "7 890.00", "290.00"]
			}
		]
	},
	{
		caption: "Продукты фирмы «FGM-TEH» SRL",
		headers: ["№", "Наименование", "Программный ключ", "USB-ключ", "Аренда 1С (месяц)"],
		rows: [
			{
				name: "Мобильная торговля «Моби-С» на КПК (включает интеграцию с линейкой решений Contabilizare 4.0 на базе платформы 1С",
				prices: ["Под заказ", "Под заказ", "Под заказ"]
			}
		]
	},
	{
		caption: "Услуги",
		headers: ["№", "Наименование", "Цена"],
		rows: [
			{
				name: "Установка программного продукта",
				prices: ["Бесплатно"]
			},
			{
				name: "Демонстрация программного продукта",
				prices: ["Бесплатно"]
			},
			{
				name: "Линия телефонных консультаций (только (!) в течение 6-ти месяцев после установки ПО и/или при наличии договора на ПАКЕТ обновлений и услуг)",
				prices: ["Бесплатно"]
			},
			{
				name: "Подписка ИТС – самостоятельное обновление типовой конфигурации Contabilizare 4.0 и платформы 1C:Предприятие 8. посредством Интернет-ресурсов (6 месяцев с момента установки)",
				prices: ["Бесплатно"]
			},
			{
				name: "Видео-курс «On-line Университет» (интернет доступ на 1 месяц – 117 видео-уроков, 34 часа обучающего курса)",
				prices: ["Бесплатно"]
			},
			{
				name: "Разовые работы сотрудника (1 час)",
				prices: ["Бесплатно"]
			},
			{
				name: "Обновление программного обеспечения (стоимость каждого пропущенного релиза – 850 л.)",
				prices: ["Бесплатно"]
			},
			{
				name: "Обновление ПО на электронном носителе (стоимость каждого пропущенного релиза – 850 л.)",
				prices: ["Бесплатно"]
			},
			{
				name: "Подключение торгового оборудования (за 1 единицу)",
				prices: ["Бесплатно"]
			},
			{
				name: "Установка и настройка PostgreSQL",
				prices: ["Бесплатно"]
			}
		]
	},]