- 
	var price_category = [
	{
		link: "#priceList1",
		text: "Программные продукты на платформе 1С: Предприятие 8"
	},
	{
		link: "#priceList2",
		text: "Отраслевые решения Contabilizare 4.0 (на базе 1С: Предприятие 8)"
	},
	{
		link: "#priceList3",
		text: "Специализированные решения 1С: Предприятие 8"
	},
	{
		link: "#priceList4",
		text: "Продукты фирмы «FGM-TEH» SRL"
	},
	{
		link: "#priceList5",
		text: "Услуги"
	}] 