-
	var solutions = [
	{
		'img': '/images/solution.png',
		'img_hover': '/images/solution_hover.png',
		'text': 'Управление строительным',
		'accent': 'Предприятием'
	},
	{
		'img': '/images/solution.png',
		'img_hover': '/images/solution_hover.png',
		'text': 'Управление сельхоз.',
		'accent': 'Предприятием'
	},
	{
		'img': '/images/solution.png',
		'img_hover': '/images/solution_hover.png',
		'text': '',
		'accent': 'Розница'
	},
	{
		'img': '/images/solution.png',
		'img_hover': '/images/solution_hover.png',
		'text': '',
		'accent': 'Водоканал'
	}]