-
  var thumbnails_cont = [
  {
    'link': '#',
    'text': 'Демо',
    'img': '/images/cont_5_demo.png',
    'video': 'gwi7gjid6Es'
  },
  {
    'link': '#',
    'text': 'Начать работать',
    'img': '/images/cont_5_work.png'
  },
  {
    'link': '#',
    'text': 'Зарегистрироваться агентом',
    'img': '/images/cont_5_register.png'
  },
  {
    'link': '#',
    'text': 'www.tester.md',
    'img': '/images/cont_5_tester.png'
  }]
