-
  var thumbnails_cont = [
  {
    'link': '#',
    'dataSrc': '',
    'text': 'Демо',
    'img': '/images/new_cont/cont_5_demo.png',
    'video': 'gwi7gjid6Es'
  },
  {
    'link': '#modal',
    'dataSrc': 'modal',
    'text': 'Скачать',
    'img': '/images/new_cont/cont_5_work.png',
    'class': 'js-open-modal'
  },
  {
    'link': '#',
    'dataSrc': '',
    'text': 'Зарегистрироваться агентом',
    'img': '/images/new_cont/cont_5_register.png'
  },
  {
    'link': '#',
    'dataSrc': '',
    'text': 'www.tester.md',
    'img': '/images/new_cont/cont_5_tester.png'
  }]
