-
  var thumbnails_clouds = [
  {
    'text': 'смотрите видео',
    'link': '#',
    'video': 'y0v82Lnko2E',
    'img': '/images/new_cont/clouds_look_video.png' 
  },
  {
    'text': 'Contabilizare 4.0',
    'link': '#',
    'img': '/images/new_cont/clouds_cont_4.png' 
  },
  {
    'text': 'Contabilizare 5.0',
    'link': '#',
    'img': '/images/new_cont/clouds_cont_5.png' 
  }]
