-
  var thumbnails_process = [
    {
      'text': 'Смотрите видео',
      'link': '#'
    },
    {
      'text': 'Моделирование',
      'link': '#'
    },
    {
      'text': 'Автоматизация',
      'link': '#'
    },
    {
      'text': 'Управление',
      'link': '#'
    }]
