.news-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 25px;
	padding-bottom: 25px;
}

.news-list__item {
	display: block;
	position: relative;
	width: calc(50% - 7.5px);
	min-width: 300px;
	cursor: pointer;
	text-decoration: none;
	color: $font-color-black;
	margin-bottom: 15px;
	&:hover {
		.news-list__text {
			text-decoration: underline;
		}
	}
}

.news-list__label {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 5px 10px;
	background-color: $color-yellow;
}

.news-list__image-box {
	height: 260px;
	overflow: hidden;
	margin-bottom: 10px;
}

.news-list__image {
	height: 100%;
	width: auto;
}

.news-list__text {
	font-size: 1.266666666666667rem;
	line-height: 1.3em;
}

@media only screen and (max-width: 900px) {
	.news-list__item {
		width: 100%;
	}
}