.ad-panel {
    background-color: #8E44AD;
    color: #ffffff;
    padding: 15px 0;
}

.ad-panel_second {
    background-color: $color-light-blue;
}

.ad-panel__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ad-panel__text {
    font-size: 18px;
}

.ad-panel__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ad-panel__button {
    padding: 10px;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-decoration: none;
    &:hover {
        background-color: rgba(255,255,255,0.1);
    }
}

.ad-panel__button_close {
    margin-left: 15px;
    color: #ffffff;
    border: 1px solid #ffffff;
    &:hover {
        background-color: rgba(255,255,255,0.1);
    }
}

@media only screen and (max-width: 900px) {
    .ad-panel {
        margin-top: 70px;
        margin-bottom: -70px;
    }

    .ad-panel_second {
        margin-top: 70px;
        margin-bottom: -70px;
    }
}