+b.breadcrumbs.mobile._hide
	- let lastelement = breadcrumbs.length - 1;
	each breadcrumb, i in breadcrumbs
		if i != lastelement
			+e.A.link.link(href= breadcrumb.url) #{breadcrumb.name}
			+e.SPAN.separator
		else
			+e.A.link.link_disable(href= breadcrumb.url) #{breadcrumb.name}