.auth-form {
    flex-basis: 500px;
    max-width: 500px;
    padding: 25px;
    box-shadow: 0 0 15px 0 #dddddd;
    background-color: #fff;
    font-size: 16px;
}

.auth-form__title {
    margin: 0 0 25px;
    text-align: center;
}

.auth-form__input {
    font-size: inherit;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #dddddd;
}

.auth-form__select {
    position: relative;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    i {
        position: absolute;
        right: 15px;
        top: 17px;
    }
}

.auth-form__selected {
    padding: 15px;
}

.auth-form__selected_active + .auth-form__options {
    display: block;
}

.auth-form__options {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #dddddd;
    width: calc(100% + 2px);
    top: 48px;
    left: -1px;
}

.auth-form__option {
    padding: 15px;
    border-bottom: 1px solid #dddddd;
}

.auth-form__submit {
    font-size: inherit;
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
    background-color: $color-blue;
    transition: 0.2s;
    color: #fff;
    &:hover {
        background-color: $color-light-blue;
    }
}

.auth-form__link {
    text-decoration: none;
    color: $color-blue;
    &:hover {
        color: $color-light-blue;
    }
}

.auth-form__desc {
    font-size: 12px;
    font-style: normal;
    margin: 25px 0 0;
}