.content {
	flex-grow: 1;
	flex-shrink: 0;
}

.content_center {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
}

.content_dark {
	background-color: #EDEEF0;
}

@media only screen and (max-width: 900px) {
	.content {
		margin-top: 70px;
	}
	.content_center {
		margin-top: 0;
		align-items: flex-start;
		justify-content: center;
	}
}