extends ../layout

block content
	+b.section._size_xl._theme_solutions
		+b.grid.inner
			+e.row._align_c
				+e.col_7
					+b.title_size_xl._color_white Водоканал
					include ../includes/components/breadcrumbs/_breadcrumbs_theme_dark
				+e.col_5
					+b.A.link(href="http://www.youtube.com" target="_blank")
						+b.IMG.image.js-image-swap(src= "/images/look_video.png" data-src= "/images/look_video_hover.png")
	+b.section_size_s._theme_light
		+b.inner
			+b.accordion.js-accordion
				each item in accordion
					+e.item
						+e.title= item.title
						+e.text= item.text
	include ../includes/sections/_other_solutions
	include ../includes/sections/_erp
	include ../includes/sections/_our_blog