-
	accordion_items = [
	{
		'title': 'Lorem ipsum dolor sit amet.',
		'text': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut suscipit, nulla facere illo est odio quidem deleniti reprehenderit. Perferendis illo optio, provident soluta. Cum quidem alias vel nostrum accusantium quae velit, non, nemo, voluptatum iure ducimus, ipsa voluptate reprehenderit eum minima iste adipisci eaque labore animi hic! Doloremque dolorum quam modi, eius veritatis fugit rerum unde vero voluptas quaerat quae voluptatum est deleniti magnam, necessitatibus excepturi iure. Deleniti quia doloremque illum accusamus in nisi, ratione nobis atque magni reprehenderit optio. Unde qui sit amet incidunt corporis non veritatis veniam quaerat vero ipsa iure eius commodi error, ab, animi totam accusantium.'
	},
	{
		'title': 'Lorem ipsum dolor sit.',
		'text': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id nam voluptatem quam vero excepturi repudiandae dolores in asperiores. Facere, nemo delectus molestias modi perferendis impedit.'
	},
	{
		'title': 'Lorem ipsum dolor sit amet, consectetur.',
		'text': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id nam voluptatem quam vero excepturi repudiandae dolores in asperiores. Facere, nemo delectus molestias modi perferendis impedit.'
	},
	{
		'title': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, nobis!',
		'text': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id nam voluptatem quam vero excepturi repudiandae dolores in asperiores. Facere, nemo delectus molestias modi perferendis impedit.'
	},
	{
		'title': 'Lorem ipsum dolor sit amet, consectetur adipisicing.',
		'text': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id nam voluptatem quam vero excepturi repudiandae dolores in asperiores. Facere, nemo delectus molestias modi perferendis impedit.'
	},]