-
	var menu_items = [
		{
			'link': '/',
			'text': 'Главная'
		},
		{
			'link': '/about',
			'text': 'О компании'
		},
		{
			'link': '/solutions',
			'text': 'Решения'
		},
		{
			'link': '/news',
			'text': 'Новости'
		},
		{
			'link': '/interviews',
			'text': 'Интервью'
		},
		{
			'link': '/reviews',
			'text': 'Отзывы'
		},
		{
			'link': '/contacts',
			'text': 'Контакты'
		},
		{
			'link': '/price-list',
			'text': 'Прайс-лист'
		},
		{
			'link': 'http://www.clous.md',
			'text': 'Аренда 1С'
		}]