-
  var reviews_preview = [
  {
    'title': 'Отзыв о программе Contabilizare от Didact Vega',
    'author': 'Бухгалтер фирмы Didact Vega',
    'link': 'https://www.youtube.com/watch?v=lin7paZTMDQ&index=2&list=PLUWnIjW0y5VrCihVl72vfoVsdyUGYIPqk'
  },
  {
    'title': 'Отзыв о программе Contabilizare от Flormodern',
    'author': 'Людмила Чебан бухгалтер и директор фирмы Flormodern',
    'link': 'https://www.youtube.com/watch?v=lin7paZTMDQ&index=2&list=PLUWnIjW0y5VrCihVl72vfoVsdyUGYIPqk'
  }]
