-
	solution_items = [
	{
		img: '../assets/images/solution.png',
		img_hover: '../assets/images/solution_hover.png',
		text: 'Управление строительным',
		accent: 'Предприятием'
	},
	{
		img: '../assets/images/solution.png',
		img_hover: '../assets/images/solution_hover.png',
		text: 'Управление сельхоз.',
		accent: 'Предприятием'
	},
	{
		img: '../assets/images/solution.png',
		img_hover: '../assets/images/solution_hover.png',
		text: '',
		accent: 'Розница'
	},
	{
		img: '../assets/images/solution.png',
		img_hover: '../assets/images/solution_hover.png',
		text: '',
		accent: 'Водоканал'
	}]