-
  var thumbnails_cont_5 = [
  {
    link: '#',
    text: 'Демо',
    img: '../assets/images/cont_5_demo.png'
  },
  {
    link: '#',
    text: 'Начать работать',
    img: '../assets/images/cont_5_work.png'
  },
  {
    link: '#',
    text: 'Зарегистрироваться агентом',
    img: '../assets/images/cont_5_register.png'
  },
  {
    link: '#',
    text: 'www.tester.md',
    img: '../assets/images/cont_5_tester.png'
  }]
