-
  var thumbnails_clouds = [
  {
    'text': 'смотрите видео',
    'link': '#',
    'img': '../assets/images/clouds_look_video.png' 
  },
  {
    'text': 'Contabilizare 4.0',
    'link': '#',
    'img': '../assets/images/clouds_cont_4.png' 
  },
  {
    'text': 'Contabilizare 5.0',
    'link': '#',
    'img': '../assets/images/clouds_cont_5.png' 
  }]
