+b.modal(id="modal")
    +e.inner
        +e.H3.title Дорогие друзья!
        +e.P.text Рады представить Вам наше новое решение для автоматизации бухгалтерского и оперативного учета Contabilizare 5.0. Данная конфигурация предназначена для платформы 1С:Предприятие 8.3 (с релиза 8.3.13). 
        +e.P.text._alert Без регистрации конфигурация будет работать 60 минут, после чего запросит регистрацию. Вы можете просто перезапустить программу и сможете  работать следующие 60 минут. С условиями регистрации Вы можете ознакомиться в разделе «Регистрация конфигурации»
        +e.P.text Информация по телефону: 067-701-442