+b.modal._info(id="modal")
    +e.inner
        +e.header
            +e.H3.title Функционал в разработке
        +e.body 
            +e.text Рады представить Вам наше новое решение для автоматизации бухгалтерского и оперативного учета Contabilizare 5.0. Данная конфигурация предназначена для платформы 1С:Предприятие 8.3 (с релиза 8.3.13). 
            +e.text._alert Внимание! Без регистрации конфигурация будет работать 60 минут, после чего запросит регистрацию. Вы можете просто перезапустить программу и сможете работать следующие 60 минут. 
            +e.text С условиями регистрации Вы можете ознакомиться в разделе <a class="modal__link" href="#">«Регистрация конфигурации»</a>. 
            +e.text Информация по телефону: 067-701-442 
        +e.footer
            +e.A.button Скачать
            +e.A.button._cancel Отмена