.list {
}

.list__item {
	font-family: $font-family-primary;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
}

.list__link {
	color: #4ea5e0;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}