$element-count: 6;
$rotate-deg: 360deg / $element-count;
$skew-deg: 90deg - $rotate-deg;
$item-bg-color-actived: #8e44ad;
$puzzle-bg-color: rgba(#fff, 0.5);
$circle-bg-color: #2a2a2b;
$border-width: 6px;
$border: $border-width solid #fff;
$puzzle-diameter: 660px;
$circle-diameter: 300px;
$connect-diameter: 40px;
$circle-inner-diameter: $circle-diameter - $border-width * 2;
$circle-connect-diameter: $connect-diameter - $border-width * 2;
$puzzle-radius: $puzzle-diameter / 2;
$circle-radius: $circle-diameter / 2;
$connect-radius: $connect-diameter / 2;
$circle-inner-radius: $circle-inner-diameter / 2;
$circle-connect-radius: $circle-connect-diameter / 2;
$seporator-height: 30px;
$seporator-width: $puzzle-radius;
$line-left-width: ( $puzzle-radius - $circle-radius ) / 2 - $connect-radius + $border-width;
$line-right-width: ( $puzzle-radius - $circle-radius ) / 2 - $connect-radius + $border-width + $circle-radius;
$circle-font-size-title: 119px;
$puzzle-text-size: 18px;
$puzzle-link-size: 12px;

// m - Mobile

$m-multipler: 0.4393939393939394;
$m-font-multipler: 0.3;

$m-border-width: $border-width * $m-multipler;
$m-border: $m-border-width solid #fff;
$m-puzzle-diameter: $puzzle-diameter * $m-multipler;
$m-circle-diameter: $circle-diameter * $m-multipler; 
$m-connect-diameter: $connect-diameter * $m-multipler;
$m-circle-inner-diameter: $m-circle-diameter - $m-border-width * 2;
$m-circle-connect-diameter: $m-connect-diameter - $m-border-width * 2;
$m-puzzle-radius: $m-puzzle-diameter / 2;
$m-circle-radius: $m-circle-diameter / 2;
$m-connect-radius: $m-connect-diameter / 2;
$m-circle-inner-radius: $m-circle-inner-diameter / 2;
$m-circle-connect-radius: $m-circle-connect-diameter / 2;
$m-seporator-height: $seporator-height * $m-multipler;
$m-seporator-width: $seporator-width * $m-multipler;
$m-circle-font-size-title: $circle-font-size-title * $m-font-multipler;
$m-line-left-width: ( $m-puzzle-radius - $m-circle-radius ) / 2 - $m-connect-radius + $m-border-width;
$m-line-right-width: ( $m-puzzle-radius - $m-circle-radius ) / 2 - $m-connect-radius + $m-border-width + $m-circle-radius;

.puzzle {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: $puzzle-diameter;
	height: $puzzle-diameter;
	border: $border;
	border-radius: 100%;
	background-color: $puzzle-bg-color;
	@media only screen and (max-width: 900px) {
		width: $m-puzzle-diameter;
		height: $m-puzzle-diameter;
		border: $m-border;
	}
}

.puzzle__item {
	z-index: 1;
	position: absolute;
	top: - $border-width;
	left: - $border-width;
	display: block;
	width: $puzzle-radius;
	height: $puzzle-radius;
	transform-origin: right bottom;
	&:nth-of-type(1) {
		transform: rotate($rotate-deg) skewX($skew-deg);
		.puzzle__content {
			transform: skewX(- $skew-deg) rotate(- $rotate-deg);
			right: 25%;
			bottom: 25%;
			@media only screen and (max-width: 900px) {
				right: 21%;
				bottom: 21%;
			}
		}
		.puzzle__text {
			transform: translateY(20px);
			@media only screen and (max-width: 900px) {
				transform: translateY(10px);
			}
		}
	}
	&:nth-of-type(2) {
		transform: rotate($rotate-deg * 2) skewX($skew-deg);
		.puzzle__content {
			transform: skewX(- $skew-deg) rotate(- $rotate-deg * 2);
			right: 20%;
			bottom: 27%;
			@media only screen and (max-width: 900px) {
				right: 20%;
				bottom: 20%;
			}
		}
		.puzzle__text {
			transform: translateY(20px);
			@media only screen and (max-width: 900px) {
				transform: translateY(10px);
			}
		}
	}
	&:nth-of-type(3) {
		transform: rotate($rotate-deg * 3) skewX($skew-deg);
		.puzzle__content {
			transform: skewX(- $skew-deg) rotate(- $rotate-deg * 3);
			right: 23%;
			bottom: 25%;
			@media only screen and (max-width: 900px) {
				right: 20%;
				bottom: 20%;
			}
		}
		.puzzle__text {
			transform: translateY(20px);
			@media only screen and (max-width: 900px) {
				transform: translateY(10px);
			}
		}
	}
	&:nth-of-type(4) {
		transform: rotate($rotate-deg * 4) skewX($skew-deg);
		.puzzle__content {
			transform: skewX(- $skew-deg) rotate(- $rotate-deg * 4);
			right: 17%;
			bottom: 25%;
			@media only screen and (max-width: 900px) {
				right: 14%;
				bottom: 25%;
			}
		}
		.puzzle__text {
			transform: translateY(20px);
			@media only screen and (max-width: 900px) {
				transform: translateY(10px);
			}
		}
	}
	&:nth-of-type(5) {
		transform: rotate($rotate-deg * 5) skewX($skew-deg);
		.puzzle__content {
			transform: skewX(- $skew-deg) rotate(- $rotate-deg * 5);
			right: 25%;
			bottom: 25%;
			@media only screen and (max-width: 900px) {
				right: 22%;
				bottom: 22%;
			}
		}
		.puzzle__text {
			transform: translateY(20px);
			@media only screen and (max-width: 900px) {
				transform: translateY(10px);
			}
		}
	}
	&:nth-of-type(6) {
		transform: rotate($rotate-deg * 6) skewX($skew-deg);
		.puzzle__content {
			transform: skewX(- $skew-deg) rotate(- $rotate-deg * 6);
			right: 28%;
			bottom: 23%;
			@media only screen and (max-width: 900px) {
				right: 22%;
				bottom: 22%;
			}
		}
		.puzzle__text {
			transform: translateY(20px);
			@media only screen and (max-width: 900px) {
				transform: translateY(10px);
			}
		}
	}
	@media only screen and (max-width: 900px) {
		top: - $m-border-width;
		left: - $m-border-width;
		width: $m-puzzle-radius;
		height: $m-puzzle-radius;
	}
}

.puzzle__item_actived {
	.puzzle__inner, .puzzle__line {
		background-color: $item-bg-color-actived;
	}
	.puzzle__text {
		color: #fff;
	}
	.puzzle__link {
		transform: scale(1);
	}
	.puzzle__text {
		transform: translateY(0) !important;
	}
}

.puzzle__item_actived_connect {
	.puzzle__connect {
		background-color: $item-bg-color-actived;
	}
}

.puzzle__inner {
	height: $puzzle-radius - $seporator-height;
	text-align: center;
	@media only screen and (max-width: 900px) {
		height: $m-puzzle-radius - $m-seporator-height;
	}
}

.puzzle__content {
	position: absolute;
}

.puzzle__text {
	font-size: $puzzle-text-size;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 10px;
	transition: transform 0.3s;
	@media only screen and (max-width: 900px) {
		font-size: 9px;
		margin-bottom: 3px;
	}
}

.puzzle__link {
	display: inline-block;
	text-decoration: none;
	border: 1px solid #fff;
	padding: 7px 15px;
	color: #fff;
	font-size: $puzzle-link-size;
	transform: scale(0);
	transition: transform 0.3s;
	// Без этих префиксов шрифты начинают дергаться
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	@media only screen and (max-width: 900px) {
		font-size: 7px;
		padding: 2px 5px;
	}
}

.puzzle__link_big {
	transform: scale(1);
	border: 1px solid #616163;
	padding: 7px 25px;
	font-size: 15px;
	font-weight: 300;
	cursor: pointer;
	&:hover {
		border-color: #fff;
	}
	@media only screen and (max-width: 900px) {
		font-size: 7px;
		padding: 2px 5px;
	}
}

.puzzle__border {
	position: absolute;
	left: 0;
	bottom: -1px; // Сделано для того чтобы скрыть непонятный зазор между элементами
	height: $seporator-height + 2px; // Сделано для того чтобы скрыть непонятный зазор между элементами
	width: 100%;
	overflow: hidden;
	transform: skewX(- $skew-deg);
	@media only screen and (max-width: 900px) {
		height: $m-seporator-height + 2px;
	}
}

.puzzle__line {
	z-index: 2;
	position: absolute;
	height: 100%;
	border-bottom: $border;
	@media only screen and (max-width: 900px) {
		border-bottom: $m-border;
	}
}

.puzzle__line_left {
	left: 0;
	bottom: 0;
	width: $line-left-width;
	@media only screen and (max-width: 900px) {
		width: $m-line-left-width;
	}
}

.puzzle__line_right {
	right: 0;
	bottom: 0;
	width: $line-right-width;
	@media only screen and (max-width: 900px) {
		width: $m-line-right-width;
	}
}

.puzzle__line_top {
	top: 0;
	left: $line-left-width;
	height: $border-width + 1px; // Сделано для того чтобы скрыть непонятный зазор между элементами
	width: $puzzle-radius - $line-left-width - $line-right-width;
	border-bottom: none;
	@media only screen and (max-width: 900px) {
		left: $m-line-left-width;
		height: $m-border-width + 1px;
		width: $m-puzzle-radius - $m-line-left-width - $m-line-right-width;
	}
}

.puzzle__connect {
	z-index: 3;
	position: absolute;
	left: $line-left-width - $border-width;
	bottom: - $connect-radius / 2;
	height: $connect-diameter;
	width: $connect-diameter;
	border: $border;
	border-radius: 100%;
	@media only screen and (max-width: 900px) {
		left: $m-line-left-width - $m-border-width;
		bottom: - $m-connect-radius / 2;
		height: $m-connect-diameter;
		width: $m-connect-diameter;
		border: $m-border;
	}
}

.puzzle__circle {
	z-index: 4;
	position: absolute;
	top: $puzzle-radius - $circle-radius - $border-width;
	left: $puzzle-radius - $circle-radius - $border-width;
	width: $circle-diameter;
	height: $circle-diameter;
	border: $border;
	border-radius: 100%;
	@media only screen and (max-width: 900px) {
		top: $m-puzzle-radius - $m-circle-radius - $m-border-width;
		left: $m-puzzle-radius - $m-circle-radius - $m-border-width;
		width: $m-circle-diameter;
		height: $m-circle-diameter;
		border: $m-border;
	}
}

.puzzle__circle-content {
	z-index: 10;
	position: relative;
	background-color: $circle-bg-color;
	border-radius: 100%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.puzzle__choice {
	font-size: 20.5px;
	line-height: 1em;
	font-weight: 500;
	color: #f1c40f;
	text-transform: uppercase;
	@media only screen and (max-width: 900px) {
		font-size: 8px;
	}
}

.puzzle__title {
	font-family: $font-family-second;
	font-size: 119px;
	font-weight: 600;
	line-height: 0.9em;
	color: #fff;
	text-transform: uppercase;
	@media only screen and (max-width: 900px) {
		font-size: 50px;
	}
}

.puzzle__subtitle {
	font-family: "FuturaFuturis", Arial, sans-serif;
	font-size: 20px;
	letter-spacing: 12px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 10px;
	@media only screen and (max-width: 900px) {
		font-size: 9px;
		letter-spacing: 5px;
	}
}

.puzzle__circle-connect-box {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.puzzle__circle-connect-box_white {
	z-index: 8;
	.puzzle__circle-connect {
		z-index: 1;
		width: $connect-diameter;
		height: $connect-diameter;
		background-color: #fff;
		&:nth-of-type(1) {
			top: - $connect-radius - $border-width;
			left: $circle-inner-radius - $connect-radius;
			@media only screen and (max-width: 900px) {
				top: - $m-connect-radius - $m-border-width;
				left: $m-circle-inner-radius - $m-connect-radius;
			}
		}
		&:nth-of-type(2) {
			top: $circle-inner-radius / 2 - $connect-radius - $border-width;
			right: - $border-width;
			@media only screen and (max-width: 900px) {
				top: $m-circle-inner-radius / 2 - $m-connect-radius - $m-border-width;
				right: - $m-border-width;
			}
		}
		&:nth-of-type(3) {
			bottom: $circle-inner-radius / 2 - $connect-radius - $border-width;
			right: - $border-width;
			@media only screen and (max-width: 900px) {
				bottom: $m-circle-inner-radius / 2 - $m-connect-radius - $m-border-width;
				right: - $m-border-width;
			}
		}
		&:nth-of-type(4) {
			bottom: - $connect-radius - $border-width;
			left: $circle-inner-radius - $connect-radius;
			@media only screen and (max-width: 900px) {
				bottom: - $m-connect-radius - $m-border-width;
				left: $m-circle-inner-radius - $m-connect-radius;
			}
		}
		&:nth-of-type(5) {
			bottom: $circle-inner-radius / 2 - $connect-radius - $border-width;
			left: - $border-width;
			@media only screen and (max-width: 900px) {
				bottom: $m-circle-inner-radius / 2 - $m-connect-radius - $m-border-width;
				left: - $m-border-width;
			}
		}
		&:nth-of-type(6) {
			top: $circle-inner-radius / 2 - $connect-radius - $border-width;
			left: - $border-width;
			@media only screen and (max-width: 900px) {
				top: $m-circle-inner-radius / 2 - $m-connect-radius - $m-border-width;
				left: - $m-border-width;
			}
		}
		@media only screen and (max-width: 900px) {
			width: $m-connect-diameter;
			height: $m-connect-diameter;
		}
	}
}

.puzzle__circle-connect-box_black {
	z-index: 9;
	.puzzle__circle-connect {
		width: $circle-connect-diameter;
		height: $circle-connect-diameter;
		background-color: $circle-bg-color;
		&:nth-of-type(1) {
			top: - $circle-connect-radius - $border-width;
			left: $circle-inner-radius - $circle-connect-radius;
			@media only screen and (max-width: 900px) {
				top: - $m-circle-connect-radius - $m-border-width;
				left: $m-circle-inner-radius - $m-circle-connect-radius;
			}
		}
		&:nth-of-type(2) {
			top: $circle-inner-radius / 2 - $circle-connect-radius - $border-width;
			right: 0;
			@media only screen and (max-width: 900px) {
				top: $m-circle-inner-radius / 2 - $m-circle-connect-radius - $m-border-width;
				right: 0;
			}
		}
		&:nth-of-type(3) {
			bottom: $circle-inner-radius / 2 - $circle-connect-radius - $border-width;
			right: 0;
			@media only screen and (max-width: 900px) {
				bottom: $m-circle-inner-radius / 2 - $m-circle-connect-radius - $m-border-width;
				right: 0;
			}
		}
		&:nth-of-type(4) {
			bottom: - $circle-connect-radius - $border-width;
			left: $circle-inner-radius - $circle-connect-radius;
			@media only screen and (max-width: 900px) {
				bottom: - $m-circle-connect-radius - $m-border-width;
				left: $m-circle-inner-radius - $m-circle-connect-radius;
			}
		}
		&:nth-of-type(5) {
			bottom: $circle-inner-radius / 2 - $circle-connect-radius - $border-width;
			left: 0;
			@media only screen and (max-width: 900px) {
				bottom: $m-circle-inner-radius / 2 - $m-circle-connect-radius - $m-border-width;
				left: 0;
			}
		}
		&:nth-of-type(6) {
			top: $circle-inner-radius / 2 - $circle-connect-radius - $border-width;
			left: 0;
			@media only screen and (max-width: 900px) {
				top: $m-circle-inner-radius / 2 - $m-circle-connect-radius - $m-border-width;
				left: 0;
			}
		}
		@media only screen and (max-width: 900px) {
			width: $m-circle-connect-diameter;
			height: $m-circle-connect-diameter;
		}
	}
}

.puzzle__circle-connect {
	position: absolute;
	border-radius: 100%;
}