$element-count: 6;

$border-width: 6px;
$border: $border-width solid #fff;
$puzzle-diameter: 660px;
$circle-diameter: 300px;
$puzzle-radius: $puzzle-diameter / 2;
$circle-radius: $circle-diameter / 2;
$seporator-height: 30px;
$seporator-width: $puzzle-radius;
$connect-diameter: 40px;
$connect-radius: $connect-diameter / 2;
$circle-font-size-title: 119px;

$mobile-multipler: 0.4393939393939394;
$mobile-font-multipler: 0.3;

$mobile-border-width: $border-width * $mobile-multipler;
$mobile-border: $mobile-border-width solid #fff;
$mobile-puzzle-diameter: $puzzle-diameter * $mobile-multipler;
$mobile-puzzle-radius: $mobile-puzzle-diameter / 2;
$mobile-circle-diameter: $circle-diameter * $mobile-multipler; 
$mobile-circle-radius: $mobile-circle-diameter / 2;
$mobile-seporator-height: $seporator-height * $mobile-multipler;
$mobile-seporator-width: $seporator-width * $mobile-multipler;
$mobile-connect-diameter: $connect-diameter * $mobile-multipler;
$mobile-connect-radius: $mobile-connect-diameter / 2;
$mobile-circle-font-size-title: $circle-font-size-title * $mobile-font-multipler;

.puzzle {
	position: relative;
	z-index: 30;
	overflow: hidden;
	margin: 0 auto;
	width: $puzzle-diameter;
	height: $puzzle-diameter;
	border: $border;
	border-radius: 100%;
	background-color: rgba(#fff, 0.5);
}

.puzzle__item {
	display: block;
	position: absolute;
	width: $puzzle-radius;
	height: $puzzle-radius;
	top: - $border-width;
	left: - $border-width;
	z-index: 20;
	transform-origin: right bottom;
	transform: rotate(0deg) skewX(30deg);
	@for $i from 1 through $element-count {
		&:nth-of-type(#{$i}) {
			transform: rotate(60deg * $i) skewX(30deg);
			.puzzle__text-box {
				transform: skewX(-30deg) rotate(-60deg * $i);
			}
		}
	}
}

.puzzle__item_actived {
	.puzzle__inner {
		background-color: #f00;
	}
	.puzzle__line {
		background-color: #f00;
	}
}

.puzzle__item_actived_connect {
	.puzzle__connect {
		background-color: #f00;
	}
}

.puzzle__inner {
	height: 300px;
	text-align: center;
	@media only screen and (max-width: 900px) {
		display: none;
	}
}

.puzzle__text-box {
	position: absolute;
	right: 28%;
	bottom: 28%;
	transform: skewX(-30deg) rotate(0deg);
}

.puzzle__circle {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 110;
	top: $puzzle-radius - $circle-radius - $border-width;
	left: $puzzle-radius - $circle-radius - $border-width;
	width: $circle-diameter;
	height: $circle-diameter;
	background-color: #2a2a2b;
	border-radius: 100%;
	border: $border;
}

.puzzle__separator {
	position: absolute;
	bottom: -1px;
	left: 0;
	height: 32px;
	width: 100%;
	overflow: hidden;
	transform: skewX(-30deg);
}

.puzzle__line {
	position: absolute;
	height: 100%;
	border-bottom: $border;
	z-index: 5;
}

.puzzle__line_left {
	left: 0;
	bottom: 0;
	width: 76px;
}

.puzzle__line_top {
	top: 0;
	height: 7px;
	left: 76px;
	width: 28px;
	border-bottom: none;
}

.puzzle__line_right {
	right: 0;
	bottom: 0;
	width: 226px;
}

.puzzle__connect {
	position: absolute;
	z-index: 10;
	bottom: 0;
	left: 70px;
	bottom: - $connect-radius / 2;
	height: $connect-diameter;
	width: $connect-diameter;
	border: $border;
	border-radius: 100%;
}